<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>NgUpgrade</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  
  <body>
    <form ng-controller="nameController" novalidate class="form">
      <ng10-name [name]="name">
        <div>
          <label for="firstname">First Name: </label>
          <input type="text" ng-model="name.firstname" class="form-control" id="firstname">
        </div>
        <div>  
          <label for="lastname">Last Name: </label>
          <input type="text" ng-model="name.lastname" class="form-control" id="lastname">
        </div>
        <input type="submit" ng-click="onSubmit()" class="btn btn-primary" value="Submit">
      </ng10-name>
    </form>
  </body>

</html>